language: ruby
rvm:
- 2.3.3

before_script:
 - chmod +x ./build.sh

script: ./build.sh

branches:
  only:
  - gh-pages
  - /pages-(.*)/

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

sudo: false
