---
layout: home
---

<div class="columns">
  <div class="column col-12">
    <h3>
      Welcome to the lab website for Nicholas Reich
    </h3>
  </div>
</div>
<div class="columns">
  <div class="column col-4 col-md-12">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><i class="fa fa-bar-chart"></i> Biostatistics and Public Health</div>
      </div>
      <div class="panel-body">
        <p>
          Our team develops statistical methods and analytical tools to help
          people make sense of data. Building on close collaborative
          relationships with public health practitioners from across the world -- from
          Denver to San Juan to Bangkok -- we use modern statistical and machine
          learning tools to gain insights into complex disease systems.
        </p>
      </div>
    </div>
  </div>
  <div class="column col-4 col-md-12">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><i class="fa fa-terminal"></i> Data Science</div>
      </div>
      <div class="panel-body">
        <p>
          We build software packages, maintain code repositories, develop SQL
          databases, create interactive data visualizations, and run
          computationally intensive simulation studies. We use the R programming
          language for most of our work, but also use some C, C++, and Python.
        </p>
        <p>
          Check out our work on <a href="https://github.com/reichlab">GitHub</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="column col-4 col-md-12">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><i class="fa fa-globe"></i> Infectious Disease Epidemiology</div>
      </div>
      <div class="panel-body">
        <p>
          Our team develops models for understanding complex and dynamic systems
          of infectious disease. We have
          <a href="http://journals.plos.org/plosntds/article?id=10.1371/journal.pntd.0004761">
            developed real-time forecasts of dengue fever in Thailand</a>,
          <a href="http://rsif.royalsocietypublishing.org/content/10/86/20130414.short">
            estimated the duration of cross-protection between serotypes of dengue</a>,
          and <a href="https://reichlab.github.io/flusight/">predicted the
          trajectory of the flu season in the US</a>. </p>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column col-12">
    <h3>
      Recent news
    </h3>
  </div>
  <div class="column col-8 col-md-12">
    <div class="panel">
      <div class="panel-header">
        <h4>From the blog...</h4>
      </div>
      <div class="panel-body">
        {% for post in site.categories.blog limit:site.paginate %}
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          <p><i class="fa fa-clock-o"></i>Posted on {{ post.date | date: '%d %B, %Y' }}</p>
          <p>{{ post.excerpt }}</p>
          <p>
            <a class="btn btn-primary" href="{{ site.baseurl }}{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>
          </p>
          <br>
          <div class="divider"></div>
        {% endfor %}
      </div>
      <div class="panel-body">
        <p class="float-right">
          <button class="btn">Go to blog for more <i class="fa fa-angle-right"></i></button>
        </p>
      </div>
    </div>
  </div>
  <div class="column col-4">
    {% include tweets.html %}
  </div>
</div>
