---
layout: default
---


<h1>People</h1>

<div class="columns">

  <div class="column col-6 col-md-12">
    <img class="img-responsive" src="images/group-shot-smaller.jpg" alt="">
  </div>

  <div class="column col-6 col-md-12">
    <h2>About the Reich Lab</h2>
    <p>
      Led by PI Nicholas Reich and based in the
      <a href="http://www.umass.edu/sphhs/biostatistics" target="_blank">Department
      of Biostatistics and Epidemiology at the University of Massachusetts
      Amherst</a>, the Reich Lab focuses on developing statistical methods and
      tools for data arising from infectious disease settings.
    </p>

    <p>
      We use statistics, data science, and epidemiology to gain better
      understanding of the complexities of infectious disease dynamics. Our work
      has been featured in the
      <a href="http://www.nytimes.com/2013/07/09/health/understanding-the-protective-side-of-dengue-virus.html" target="_blank">
        New York Times</a> and on
      <a href="http://nepr.net/news/2014/11/24/flu-season-made-easy-with-new-tool/" target="_blank">
        New England Public Radio</a>.
    </p>

    <p>
      With active funded projects from the NIH, DARPA, CDC, and VA, the Lab is
      involved in independent and collaborative research efforts. Our
      collaborators include the Infectious Disease Dynamics Working Group at
      Johns Hopkins, the Thai Ministry of Public Health, the Dengue Branch of
      the CDC in Puerto Rico, the New York City Department of Health and Mental
      Hygiene, the Children's Hospital Colorado, and the Veterans Health
      Administration branches in New York City and Iowa City.
    </p>
  </div>

</div>

<div class="columns">

  {% for member in page.members %}
    <div class="column col-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-image">
          <img src="{{ member.image }}" class="img-responsive" />
        </div>
        <div class="card-header">
          <h4 class="card-title">{{ member.name }}</h4>
          <h6 class="card-subtitle">{{ member.role }}</h6>
        </div>
        <div class="card-body">
          {{ member.description }}
        </div>
        <div class="card-footer">
          {% for link in member.links %}
            <a href="{{ link.url }}" class="btn btn-primary">{{ link.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>
