---
layout: default
---

<h1>Publications</h1>
<h3><small class="label"> peer-reviewed journal articles</small></h3>

<div>
  <div class="keyword-toggle-container">
    <span class="btn btn-sm btn-default btn-keyword-all">
      Select All
    </span>
    <span class="btn btn-sm btn-default btn-keyword-none">
      None
    </span>
  </div>
  <div class="keyword-btn-container">
    {% for keyword in page.keywords %}
      <span class="chip active btn-keyword">{{ keyword }}</span>
    {% endfor %}
  </div>
</div>

<br><br>

{% for year_item in page.items %}
  {% unless year_item.year == 9999 %}
    <h3 class="pub-year">{{ year_item.year }}</h3>
  {% endunless %}

  <div class="pub-list columns">
    {% for item in year_item.items %}
      <div class="column col-12">
        <div class="card-publication pub-item columns" id="{{ item.slug }}">
          <div class="card-image column col-2 col-sm-12">
            <a href="#pub={{ item.slug }}">
              <img class="rounded pub-image" src="images/publications/{{ item.slug }}.png">
            </a>
          </div>
          <div class="column col-10 col-sm-12">
            <div class="card-header">
              <h4 class="card-title">
                <a href="#pub={{ item.slug }}" class="pub-title">{{ item.title }}</a>
              </h4>
              <h6 class="card-subtitle">
                {{ item.authors }}, <em>{{ item.journal }}</em>
              </h6>
            </div>
            <div class="card-footer">
              {% if item.keywords.size > 0 %}
                <div class="pub-keywords">
                  {% for keyword in item.keywords %}
                    <span class="label pub-keyword">{{ keyword }}</span>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="pub-btns">
                <a class="btn btn-link btn-sm pub-btn tooltip"
                   data-tooltip="Get pdf"
                   href="/pdfs/publications/{{ item.slug }}.pdf">
                  <i class="fa fa-file-pdf-o"></i> pdf
                </a>
                {% if item.doi %}
                  <a class="btn btn-link btn-sm pub-btn tooltip"
                     data-tooltip="Open doi link"
                     href="https://doi.org/{{ item.doi }}"
                     target="_blank">
                    <i class="fa fa-external-link"></i> article
                  </a>
                  <a class="btn btn-link btn-sm pub-btn tooltip"
                     data-tooltip="Save to mendeley"
                     href="http://www.mendeley.com/import/?url=https://doi.org/{{ item.doi }}"
                     target="_blank">
                    <i class="fa fa-save"></i> save
                  </a>
                {% endif %}
              </div>
              <div class="pub-abstract">
                <h6>Abstract</h6>
                  {{ item.abstract }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/publications.js"></script>
