<footer class="bg-gray">
  <section class="section-footer container grid-custom">
    <div class="columns">
      <div class="column col-12">
        <p>
          <a href="https://github.com/{{ site.github_username }}" id="github-btn" target="_blank">
            <span class="fa-lg">
              <i class="fa fa-github-alt"></i>
            </span>
            <span class="btn-text">
              <span class="text-light">github /</span>
              <strong>{{ site.github_username }}</strong>
            </span>
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}" id="twitter-btn" target="_blank">
            <span class="fa-lg">
              <i class="fa fa-twitter"></i>
            </span>
            <span class="btn-text">
              <span class="text-light">twitter /</span>
              <strong>@{{ site.twitter_username }}</strong>
            </span>
          </a>
        </p>
        <p class="foot-note"><small>&copy; {{ site.author }} {{ site.time | date: '%Y' }}. Source code available <a href="{{ site.source_url }}">here</a>.</small></p>
      </div>
    </div>
  </section>
</footer>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
 var sc_project=10491184;
 var sc_invisible=1;
 var sc_security="40c0ea38";
 var scJsHost = (("https:" == document.location.protocol) ?
                 "https://secure." : "http://www.");
 document.write("<sc" + "ript type='text/javascript' src='" +
                scJsHost + "statcounter.com/counter/counter.js'></" +
                "script>");
</script>
<noscript>
  <div class="statcounter">
    <a title="shopify site analytics"
       href="http://statcounter.com/shopify/" target="_blank">
      <img class="statcounter"
           src="http://c.statcounter.com/10491184/0/40c0ea38/1/"
           alt="shopify site analytics">
    </a>
  </div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->
