    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div>
                <a href="https://github.com/reichlab" id="github-btn" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="btn-text">
                        <span class="text-light">github /</span>
                        reichlab
                    </span>
                </a>
                <a href="https://twitter.com/reichlab" id="twitter-btn" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="btn-text">
                        <span class="text-light">twitter /</span>
                        @reichlab
                    </span>
                </a>
            </div>
            <div id="footer-note">
                <p>Copyright &copy; Nicholas Reich {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ site.baseurl}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project=10491184;
        var sc_invisible=1;
        var sc_security="40c0ea38";
        var scJsHost = (("https:" == document.location.protocol) ?
                        "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" +
                       scJsHost + "statcounter.com/counter/counter.js'></" +
                       "script>");
    </script>
    <noscript>
        <div class="statcounter">
            <a title="shopify site analytics"
               href="http://statcounter.com/shopify/" target="_blank">
                <img class="statcounter"
                     src="http://c.statcounter.com/10491184/0/40c0ea38/1/"
                     alt="shopify site analytics">
            </a>
        </div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
</body>

</html>
