<div class="nav-accent"></div>
<section class="section-nav bg-gray">
  <section class="container grid-custom">
    <div class="columns">
      <header class="navbar column col-12">
        <section class="navbar-section">
          <a href="{{ site.baseurl }}/" class="navbar-brand mr-10">
            <img src="{{ site.baseurl }}/assets/images/logo/nav-logo.png" alt="Reich Lab">
          </a>
        </section>
        <section class="navbar-section">
          <!-- Show this segment when in small device -->
          <div class="dropdown dropdown-right show-sm">
            <a href="#" class="btn btn-link btn-lg dropdown-toggle" tabindex="0">
              <i class="fa fa-navicon"></i>
            </a>
            <ul class="menu">                
              <li><a href="{{ site.baseurl }}/people" class="btn btn-link">People</a></li>
              <li><a href="{{ site.baseurl }}/research" class="btn btn-link">Research</a></li>
<!--               <li><a href="{{ site.baseurl }}/teaching" class="btn btn-link">Teaching</a></li> -->
              <li><a href="{{ site.baseurl }}/publications" class="btn btn-link">Publications</a></li>
              <li><a href="{{ site.baseurl }}/blog" class="btn btn-link">Blog</a></li>
              <li>
                <div class="dropdown dropdown-right show-sm">
                  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    Software <i class="fa fa-caret-down"></i>
                  </a>
                 <ul class="menu">
                   <li><a href="http://nickreich.github.io/coarseDataTools" class="btn btn-link">coarseDataTools</a></li>
                   <li><a href="{{ site.baseurl }}/zoltr" class="btn btn-link">zoltr</a></li>
                   <li><a href="https://github.com/reichlab/zoltpy" class="btn btn-link">zoltpy</a></li>
                   <li><a href="{{ site.baseurl }}/covidHubUtils" class="btn btn-link">covidHubUtils</a></li>
                   <li><a href="https://github.com/reichlab/covidData" class="btn btn-link">covidData</a></li>
                   <li><a href="https://github.com/reichlab/sarimaTD" class="btn btn-link">sarimaTD</a></li>
                   <li><a href="https://github.com/reichlab/kcde" class="btn btn-link">kcde</a></li>
                   <li><a href="{{ site.baseurl }}/d3-foresight" class="btn btn-link">d3-foresight</a></li>
                   <li><a href="https://github.com/reichlab/predtimechart" class="btn btn-link">predtimechart</a></li>
                 </ul>
               </div>
             </li>
              <li>
                <div class="dropdown dropdown-right show-sm">
                  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    Projects <i class="fa fa-caret-down"></i>
                  </a>
                 <ul class="menu">
                   <li><a href="https://hubdocs.readthedocs.io/en/latest/" class="btn btn-link">Hubverse</a></li>
                   <li><a href="https://covid19forecasthub.org/" class="btn btn-link">US COVID-19 Forecast Hub</a></li>
                   <li><a href="{{ site.baseurl }}/flusightnetwork" class="btn btn-link">FluSight Network</a></li>
                   <li><a href="https://zoltardata.com/" class="btn btn-link">Zoltar</a></li>
                   <li><a href="{{ site.baseurl }}/alert" class="btn btn-link">ALERT</a></li>
                 </ul>
               </div>
             </li>
              <li>
                <div class="dropdown dropdown-right show-sm">
                  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    Viz <i class="fa fa-caret-down"></i>
                  </a>
                 <ul class="menu">
                   <li><a href="https://viz.covid19forecasthub.org/" class="btn btn-link">Covid</a></li>
                   <li><a href="http://flusightnetwork.io/" class="btn btn-link">Flu</a></li>
                 </ul>
               </div>
             </li>
            </ul>
          </div>

          <!-- Hide this segment when in small device -->
          <div class="hide-sm">
            <a href="{{ site.baseurl }}/people" class="btn btn-link">People</a>
            <a href="{{ site.baseurl }}/research" class="btn btn-link">Research</a>
<!--             <a href="{{ site.baseurl }}/teaching" class="btn btn-link">Teaching</a> -->
            <a href="{{ site.baseurl }}/publications" class="btn btn-link">Publications</a>
            <a href="{{ site.baseurl }}/blog" class="btn btn-link">Blog</a>
            <div class="dropdown dropdown-right">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                Software <i class="fa fa-caret-down"></i>
              </a>
              <ul class="menu">
                <li><a href="http://nickreich.github.io/coarseDataTools" class="btn btn-link">coarseDataTools</a></li>
                <li><a href="{{ site.baseurl }}/zoltr" class="btn btn-link">zoltr</a></li>
                <li><a href="https://github.com/reichlab/zoltpy" class="btn btn-link">zoltpy</a></li>
                <li><a href="{{ site.baseurl }}/covidHubUtils" class="btn btn-link">covidHubUtils</a></li>
                <li><a href="https://github.com/reichlab/covidData" class="btn btn-link">covidData</a></li>
                <li><a href="https://github.com/reichlab/sarimaTD" class="btn btn-link">sarimaTD</a></li>
                <li><a href="https://github.com/reichlab/kcde" class="btn btn-link">kcde</a></li>
                <li><a href="{{ site.baseurl }}/d3-foresight" class="btn btn-link">d3-foresight</a></li>
                <li><a href="https://github.com/reichlab/predtimechart" class="btn btn-link">predtimechart</a></li>
              </ul>
            </div>
            <div class="dropdown dropdown-right">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                Projects <i class="fa fa-caret-down"></i>
              </a>
              <ul class="menu">
                <li><a href="https://hubdocs.readthedocs.io/en/latest/" class="btn btn-link">Hubverse</a></li>
                <li><a href="https://covid19forecasthub.org/" class="btn btn-link">US COVID-19 Forecast Hub</a></li>
                <li><a href="{{ site.baseurl }}/flusightnetwork" class="btn btn-link">FluSight Network</a></li>
                <li><a href="https://zoltardata.com/" class="btn btn-link">Zoltar</a></li>
                <li><a href="{{ site.baseurl }}/alert" class="btn btn-link">ALERT</a></li>
              </ul>
            </div>
            <div class="dropdown dropdown-right">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                Viz <i class="fa fa-caret-down"></i>
              </a>
              <ul class="menu">
                <li><a href="https://viz.covid19forecasthub.org/" class="btn btn-link">Covid</a></li>
                <li><a href="http://flusightnetwork.io/" class="btn btn-link">Flu</a></li>
              </ul>
            </div>
          </div>
        </section>
      </header>
    </div>
  </section>
</section>
