// Color palette

$color-accent: #881c1c;
$color-black: #000000;
$color-gray-dark: #273640;
$color-gray-medium: #b8cecf;
$color-gray-light: #eef2f2;
$color-white: #ffffff;

$color-github: $color-black;
$color-twitter: #1da1f2;
