.section-footer {
  padding: 3rem .5rem;
  padding-top: 4rem;

  a {
    color: $color-gray-dark;

    &:hover {
      text-decoration: none;
    }

    &#twitter-btn {
      margin-left: 2rem;

      &:hover {
        color: $color-twitter;
      }
    }

    &#github-btn:hover {
      color: $color-github;
    }
  }
}
