@use "colors";

.section-footer {
  padding: 2em;
  padding-top: 4em;

  a {
    color: colors.$color-gray-dark;

    &:hover {
      text-decoration: none;
    }

    &#twitter-btn {
      margin-left: 2em;

      &:hover {
        color: colors.$color-twitter;
      }
    }

    &#github-btn:hover {
      color: colors.$color-github;
    }
  }
}
