@import 'nav';
@import 'footer';

.bg-gray {
  background-color: $color-gray-light;
}

.carousel {
  img {
    max-height: 200px;
  }
}

.container-body {
  padding: 2em;
}

ul {
  list-style-position: outside;
}
