@use 'colors' as *;

.navbar {
  background-color: $color-gray-dark;
  /* … rest of the rules … */
}

.nav-accent {
  height: 5px;
  width: 100%;
  background-color: $color-gray-dark;
}

.section-nav {
  .navbar-brand {
    img {
      max-height: 70px;
    }
  }
}
