---
layout: default
---

<!-- Page Heading/Breadcrumbs -->
<h1 class="page-header">Reich Lab Blog</h1>

<div class="columns">

  <div class="column col-8 col-md-12">
    {% for post in paginator.posts %}
      <div>
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }}</a>
        </h2>
        <p>
          by <em>{{ post.author }}</em>
        </p>
        <p><i class="fa fa-clock-o"></i> Posted on {{ post.date | date: '%d %B, %Y' }}</p>
        <p>{{ post.excerpt }}</p>
        <p>
          <a class="btn btn-sm btn-default" href="{{ site.baseurl }}{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>
        </p>
      </div>
      <br>
      <div class="divider"></div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      <div class="float-right">
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="#" disabled>Previous</a>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <a href="#">{{ page }}</a>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="#" disabled>Next</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

  </div>

  <div class="column col-4 hide-md">
    <div class="empty feed-card">
      <p>
        This blog was launched in the summer of 2015. We occasionally post news
        and other little tidbits of interest about our ongoing research.
      </p>
      <a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i> Atom feed - Blog Entries</a>
    </div>

    <p></p>

    {% include tweets.html %}
  </div>
</div>
