---
layout: default
---
<div class="container">
	<div class="row">
  		<div class="col-xs-12">
  			<h1 class="page-header"> 
          {{page.title}} 
        </h1>
        <p class="lead">
          by {{page.author}}
        </p>

    		<p><i class="fa fa-clock-o"></i> 
          Posted on {{ page.date | date: '%d %B, %Y' }}
        </p>
        <hr>  
    		{{ content }}

  		</div>
	</div>
<!--
	<hr>


<script>
    function fbShare(url, title, descr, image, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>

<a href="https://twitter.com/share?
    text={{ page.title }}
    &url={{ page.shorturl }}
    &via=reichlab">

    <img alt="..." 
        class="footer-icon" 
        src="{{ site.baseurl }}/images/twitter.png">
</a>

<a href="javascript:fbShare('http://{{ site.url }}{{ page.url }}', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">

  <img alt "..."
  class= "footer-icon"
  src="{{ site.baseurl }}/images/facebook.png">
</a>

-->

{% include comments.html %}
