name: Build site

on:
  schedule:
  - cron: '30 6 * * *'
  workflow_dispatch:
    inputs:
      params:
        description: 'Arguments to deploy script'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repository
      uses: actions/checkout@v3
    - name: run deploy script
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: bash ./build.sh
